html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/*Header starts here*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 4.26vw;
}

.header__logo img {
  width: 29px;
  height: 25px;
}

.burger-menu {
  width: 24px;
  height: 16px;
  position: relative;
}

.burger-menu span {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: #ada7ff;
  box-sizing: border-box;
  left: 3px;
}

.burger-menu span:nth-child(1) {
  top: 0px;
}

.burger-menu span:nth-child(2) {
  top: 6px;
}

.burger-menu span:nth-child(3) {
  top: 12px;
}

.button-filled {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 999px;
  border: none;
  background: #ada7ff;
  width: 108px;
  height: 32px;
  font-size: 1.4vh;
  line-height: 1.88vh;
  color: #fff;
}

.button-video {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #ada7ff;
  font-size: 1.4vh;
  line-height: 1.88vh;
}

.button-video img {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-right: 10px;
}

.looking {
  margin-left: 4.4vw;
  margin-right: 4.4vw;
}

h1 {
  margin: 2.5vh 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.5vh;
  color: #302b3a;
}

h1 b {
  font-family: "Lato", sans-serif;
  line-height: 5.4vh;
  color: #ada7ff;
}

.looking__info__text {
  margin-bottom: 4.38vh;
  font-weight: 400;
  font-size: 1.5vh;
  line-height: 1.8vh;
  color: #404040;
}

.looking__info__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 4.38vh;
}

.looking__info__stat {
  display: flex;
  align-items: center;
  margin-bottom: 6vh;
  font-size: 1.4vh;
  line-height: 2.2vh;
  color: #686868;
}

.looking__info__stat b {
  font-size: 3.74vh;
  line-height: 3.74vh;
  color: #302b3a;
}

.looking__info__stat div {
  margin-right: 8vw;
}

.looking__images {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 41vh;
  width: calc(100vw - 14vw);
  max-width: 85vw;
}

.looking__images__top {
  display: flex;
  justify-content: space-between;
}

.looking__images__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: -10vh;
}

.looking__images .dog img {
  height: 26vh;
}

.looking__images .cat img {
  height: 28vh;
}

.mobile-hidden {
  display: none;
}

/*DESKTOP VERSION*/

@media screen and (min-width: 769px) {
  .mobile-hidden {
    display: block;
  }

  .header__container {
    margin: 5.4vh 7.8vw;
    padding: 0 0.7vw;
    max-width: 1186px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo img {
    width: 56px;
    height: 50px;
  }

  .header__nav-menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.94vh;
    line-height: 2.5vh;
    color: #000000;
  }

  .header__nav-menu li:not(:first-child) {
    margin-left: 1.72vw;
  }

  .header__nav-menu li:first-child {
    color: #ada7ff;
  }

  header .button-filled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 56px;
    font-size: 1.94vh;
    line-height: 2.5vh;
  }

  .looking {
    display: flex;
    max-width: 1186px;
    margin: 6.5vh 7.5vw;
    padding: 0 0.7vw;
    position: relative;
  }

  .looking__info {
    width: 48.9vw;
  }

  h1 {
    margin-top: 9.6vh;
    text-align: start;
    font-family: "Lato", sans-serif;
    font-size: 7vh;
    line-height: 9vh;
  }

  .looking__info__text {
    margin-bottom: 6.5vh;
    font-size: 1.9vh;
    line-height: 2.5vh;
  }

  .looking__info__stat {
    font-size: 1.9vh;
    line-height: 2.5vh;
  }

  .looking__info__stat b {
    font-size: 4.65vh;
    line-height: 5.8vh;
  }

  .looking__info__stat div {
    margin-right: 4.5vw;
  }
  .looking__info__buttons .button-filled {
    width: 172px;
    height: 52px;
    font-size: 1.9vh;
    line-height: 2.5vh;
  }

  .button-video {
    font-size: 1.9vh;
    line-height: 2.5vh;
  }

  .button-video img {
    width: 54px;
    height: 54px;
    margin-left: 30px;
    margin-right: 10px;
  }

  .looking__images {
    width: 38vw;
    right: 0;
  }

  .looking__images .dog img {
    height: 36vh;
  }

  .looking__images .cat img {
    height: 38vh;
  }

  .desktop-hidden {
    display: none;
  }
}
