html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

/*Header starts here*/

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 64px 84px;
  z-index: 100;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.header__nav-menu {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.header__nav-menu li:not(:first-child) {
  margin-left: 50px;
}

.header__search {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

.header__search a {
  display: flex;
}

.header__search p {
  margin: 0 0 0 14px;
}

/*Discovery section starts here*/

.discover {
  position: relative;
  margin-top: 180px;
}

.discover__container {
  max-width: 950px;
  display: flex;
  flex-direction: column;
}

.discover::after {
  content: "";
  display: block;
  background: linear-gradient(245deg, rgba(0, 0, 0, 0) 35%, #000000 100%),
    url(../assets/images/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: calc(100vh);
  margin: -724px auto 0 auto;
  z-index: -100;
  position: relative;
}

.title-line {
  position: relative;
  padding-left: 102px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ffc178;
}

.title-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 2px;
  width: 72px;
  background-color: #ffc178;
}

.discover h1 {
  margin-top: 32px;
  margin-bottom: 126px;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
}

.discover h1 span {
  font-weight: 400;
  font-size: 88px;
}

.discover-scroll {
  align-self: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.social-media-list p {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transform: rotate(90deg);
}

.social-media-list {
  position: absolute;
  left: 5vw;
  top: 1vh;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icons a {
  margin-top: 24px;
}

/*Holidays sections starts */

.holidays__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -80px auto 250px auto;
  max-width: 1460px;
}

.section__text {
  max-width: 630px;
}

.section__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.section__text-long {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.section__text-more {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fbd784;
}

.section__text-more img {
  margin-left: 9px;
}

/*Bromo section starts here*/

.bromo__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 986px;
  max-width: 1460px;
  background: linear-gradient(330deg, rgba(0, 0, 0, 0) 31%, #000000 108%),
    url(../assets/images/steps-img.png);
  background-size: cover;
  position: relative;
}

.arrows {
  display: flex;
  justify-content: space-between;
  max-width: 1460px;
  width: 90%;
  margin: 0 30px 40px;
}

.section__text-bromo {
  max-width: 934px;
  text-align: center;
}

.bromo .title-line {
  padding-left: 0px;
}

.bromo .title-line::before {
  left: 320px;
}

.bromo .title-line::after {
  content: "";
  position: absolute;
  right: 330px;
  top: 10px;
  height: 2px;
  width: 72px;
  background-color: #ffc178;
}

.bromo .section__heading {
  margin-top: 24px;
  margin-bottom: 27px;
}

.bromo .section__text-more {
  justify-content: center;
  padding-bottom: 40px;
}

/*Culture section starts here*/

.culture__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 227px auto 0 auto;
  max-width: 1460px;
}

/*Footer starts here*/

.footer__container {
  max-width: 1460px;
  margin-top: 220px;
  margin-bottom: 110px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-top: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 87px;
}

.explore-input {
  background: transparent;
  border: none;
  height: 70px;
  color: #fff;
  padding-right: 54px;
}

.explore-input::placeholder {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.started-button {
  border-radius: 8px;
  background: #ffa343;
  width: 240px;
  height: 70px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0;
}

.footer__line {
  border-bottom: 2px solid #fff;
  opacity: 0.3;
  margin: 0 0 56px 0;
}

.footer__main {
  padding-right: 96px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer__main-left {
  display: flex;
  flex-direction: column;
}

.footer__main-text {
  width: 360px;
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.3px;
  margin-top: 0;
  margin-bottom: 50px;
}

.email-input {
  width: 330px;
  background: transparent;
  border: none;
  height: 70px;
  color: #fff;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
}
.email-input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
}

.email-form-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.go-button {
  border-radius: 8px;
  background: #ffa343;
  width: 70px;
  height: 70px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__link {
  color: #fff;
}

.footer-nav__item {
  margin-bottom: 18px;
}

.footer-nav__list:first-child,
.footer-nav__list:last-child,
.footer-nav__list:nth-child(2) {
  color: #ffd1a0;
  margin-left: 184px;
  padding: 0;
}

.footer-nav__list:first-child {
  margin-left: 0px;
}

.footer-botton__links {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 156px;
}

.footer-botton__item {
  margin-left: 52px;
}
.footer-botton__item:first-child {
  margin-left: 0;
}

.terms {
  display: flex;
  align-items: center;
}

.terms-item {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 84px;
}

.copyright {
  margin-left: 630px;
  opacity: 0.5;
}
