.feature_section {
  margin: 0 auto 120px auto;
}
  
  .feature_specs-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .feature_specs_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    border: 2px solid rgba(255, 146, 146, 0.5);
    border-radius: 50%;
  }
  
  .feature_specs_inner img {
    transform: rotate(-45deg);
  }
  
  .feature_specs_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border: 5px solid rgba(255, 146, 146, 0.5);
    border-radius: 50%;
    border-bottom: 7px solid var(--color-red);
    border-right: 7px solid var(--color-red);
    transform: rotate(45deg);
  }
  
  .feature_specs_info {
    margin-left: 18px;
  }
  
  .feature_specs_info h4 {
    margin: 0;
    font-size: 30px;
    line-height: 140%;
  }
  
  .section_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
  }
  
  .feature_text {
    margin: 6px 0;
  }
  
  .feature_specs_link {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-red);
    text-decoration: none;
  }
  
  .feature_img {
    background: url(../../assets/images/feature.png) no-repeat center center/ contain;
    width: 100%;
    height: 296px;
  }